@model LoginBancoTeste.Models.ViewModels.ExtratoModelView
@{
    ViewBag.Title = "Extrato";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";
}

<h2>Extrato</h2>

<table class="table table-striped">
    <tr>
        <th>
            Data
        </th>
        <th>
            Lançamento
        </th>
        <th>
            Valor(R$)
        </th>
        <th>
            Saldo(R$)
        </th>
    </tr>

    @foreach(var item in Model.Extrato)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoAtual)
            </td>
        </tr>
    }
</table>

<p>
    <a href="@Url.Action("Opcoes", "Transacoes", new { numero = Model.NumeroConta })" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>