@model LoginBancoTeste.Models.Cliente
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";    
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
            <p class="lead">Acesse sua conta conta realizando o login</p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("Formulario","Autenticador")">
                    <span class="glyphicon glyphicon-off"></span>
                    Sign in
                </a>
            </p>
        </div>
}

@if(Model != null)
{
    <h4>Bem vindo, @Model.Nome</h4>

    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Contas</div>
        <div class="panel-body">
            <p>Selecione a conta o qual deseja operar: </p>
        </div>

        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Contas)
                {
                    <tr>
                        <td>
                            <a class="btn btn-block" href="@Url.Action("Opcoes", "Transacoes", new { numero = item.Numero })" role="button">
                                @Html.DisplayFor(modelItem => item.Numero)
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.TipoDeConta)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
