@model LoginBancoTeste.Models.Conta
@{
    ViewBag.Title = "Opcoes";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Parabens!</strong> @TempData["Sucesso"]
    </div>
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Operações</h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6">
                @Html.ActionLink("Saldo", "Saldo", new { numero = Model.Numero }, new { @class = "btn btn-lg btn-primary btn-block" })               
                @Html.ActionLink("Saque", "Saque", new { numero = Model.Numero }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("Deposito", "Deposito", new { numero = Model.Numero }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("Extrato", "Extrato", new { numero = Model.Numero }, new { @class = "btn btn-lg btn-primary btn-block" })
            </div>
            <div class="col-lg-6">                
                @Html.ActionLink("Transferencia", "Transferencia", new { numero = Model.Numero }, new { @class = "btn btn-lg btn-primary btn-block" })
<<<<<<< HEAD
                @Html.ActionLink("Investimentos", "Investimentos", new { idCliente = Model.Cliente.Id, idConta = Model.Numero }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("Emissao de Cheques", "EmissaoCheque", new { numero = Model.Numero }, new { @class = "btn btn-lg btn-primary btn-block" })                
                @if (Model.TipoDeConta == LoginBancoTeste.Models.TipoDeConta.CORRENTE)
                {
                @Html.ActionLink("Pagamento", "Pagamento", new { numero = Model.Numero, errorMsg = "" }, new { @class = "btn btn-lg btn-primary btn-block" })
                }
            </div>
        </div>

    </div>
</div>

<p>
    <a href="@Url.Action("Index", "Transacoes", new { id = Model.Cliente.Id })" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>