@model LoginBancoTeste.Models.Conta
@{
    ViewBag.Title = "Saque";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Saque</h2>
    </div>
    <div class="panel-body">
        <p>Escolha o valor: </p>
        <div class="row">
            <div class="col-lg-6">
                @Html.ActionLink("R$10,00", "SaqueConfirm", new { numero = Model.Numero, valor = 10 }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("R$40,00", "SaqueConfirm", new { numero = Model.Numero, valor = 40 }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("R$50,00", "SaqueConfirm", new { numero = Model.Numero, valor = 50 }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("Outro Valor", "SaqueCustomizado", new { numero = Model.Numero, valor = 50 }, new { @class = "btn btn-lg btn-primary btn-block" })
            </div>
            <div class="col-lg-6">
                @Html.ActionLink("R$20,00", "SaqueConfirm", new { numero = Model.Numero, valor = 20 }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("R$80,00", "SaqueConfirm", new { numero = Model.Numero, valor = 80 }, new { @class = "btn btn-lg btn-primary btn-block" })
                @Html.ActionLink("R$100,00", "SaqueConfirm", new { numero = Model.Numero, valor = 100 }, new { @class = "btn btn-lg btn-primary btn-block" })
            </div>
        </div>

    </div>
</div>

<p>
    <a href="@Url.Action("Opcoes", "Transacoes", new { numero = Model.Numero })" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>